{% extends "layout.html" %}
{% block title %}
    Login Page
{% endblock title %}
{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Login</h2>
                <ol>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>Login</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
            <div class="row mt-5 justify-content-center" data-aos="fade-up">
                <div class="col-lg-4">
                    <h2>Login Your Account</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group mb-2">
                            <input type="text"
                                   name="username"
                                   class="form-control"
                                   id="username"
                                   placeholder="Username"
                                   required>
                        </div>
                        <div class="form-group mb-2">
                            <input type="Password"
                                   name="password"
                                   class="form-control"
                                   id="password"
                                   placeholder="Password"
                                   required>
                        </div>
                        <small>
                            <p class="text-center">
                                Forget My <a href="{% url 'forgetpassword' %}">Passward</a>
                            </p>
                        </small>
                        <div class="text-center p-2">
                            <button class="btn btn-success btn-lg" type="submit">Login</button>
                        </div>
                    </form>
                    <small >
                        <p class="text-center">
                            Don't have an Account? <a href="{% url 'registration' %}">Register Now</a>
                        </p>
                    </small>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Section -->
    <!-- End #main -->
    <a href="#"
       class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% endblock content %}
